<div class="w-full max-w-full mx-auto sm:p-6 border-t border-gray-200 pt-4">
  <div class="flex items-start justify-between gap-4">
    <div class="flex items-start gap-4">
      <div class="w-24 h-24 flex-shrink-0 flex items-center justify-center bg-gray-100 rounded">
        @if (logoImage) {
          <img
            [src]="logoImage.url"
            [alt]="logoImage.name"
            class="max-w-full max-h-full object-contain"
          />
        } @else {
          <img
            src="../htllogo_2022_small.png"
            alt="htl-default-logo"
            class="max-w-full max-h-full object-contain"
          />
        }
      </div>
      <div class="text-sm">
        <h2 class="text-lg">{{project.name}}</h2>
        <p><span class="font-bold">Mitwirkende: </span>{{project.contributors}}</p>
        <p><span class="font-bold">Status: </span>{{project.status}}</p>
        <p><span class="font-bold">Nächster Schritt: </span>{{project.next_step}}</p>
        <p class="italic mt-1 text-gray-400">{{project.date_created | date}}</p>
      </div>
    </div>
    @if (showEditBtn) {
      <div class="ml-auto">
        <button
          class="ml-auto inline-flex items-center rounded bg-gray-500 px-3 py-1 text-sm text-white hover:bg-gray-600 transition-all cursor-pointer"
          (click)="handleBtnEditProject(project)"
        >
          Bearbeiten
        </button>
      </div>
    }
  </div>

  <!--
  @if (images && images.length > 0) {
    <div class="mt-4 p-3 rounded-md bg-blue-50 border border-blue-200 text-blue-700 text-sm">
      💡 Für Detailansicht: Bild anklicken.
    </div>
  }
  -->

  <div
    class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-8 gap-4"
  >    @for (image of images; track image.id; let index = $index) {
      <figure class="overflow-hidden rounded-lg bg-gray-100 transform hover:scale-105 transition duration-200 cursor-pointer" (click)="openLightbox(index)">
        <img
          src="{{image.url}}"
          alt="{{image.name}}"
          class="object-cover w-full aspect-video"
        />
      </figure>
    }
  </div>
  @if (isLightboxOpen) {
    <div class="fixed inset-0 flex items-center justify-center z-52 backdrop-blur-sm">
      <div class="relative w-[90vw] h-[90vh] max-w-5xl">
        <button class="absolute top-2 right-2 text-white text-2xl bg-black bg-opacity-50 hover:bg-opacity-70 p-2 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-white transition" (click)="closeLightbox()">
          ✕</button>

        <button class="absolute top-1/2 left-2 transform -translate-y-1/2 text-white text-5xl bg-black bg-opacity-50 hover:bg-opacity-70 p-3 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-white transition" (click)="prevImage()">
          ‹</button>

        <img src="{{images[currentImageIndex].url}}" [alt]="images[currentImageIndex].name" class="w-full h-full object-contain"/>

        <button class="absolute top-1/2 right-2 transform -translate-y-1/2 text-white text-5xl bg-black bg-opacity-50 hover:bg-opacity-70 p-3 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-white transition" (click)="nextImage()">
          ›</button>

        <p class="mt-2 text-center text-white">{{ images[currentImageIndex].name }}</p>
      </div>
    </div>
  }
</div>

@if (selectedProjectForEdit) {
  <app-edit-project [project]="selectedProjectForEdit" (closeModal)="modalClosed()"></app-edit-project>
}
