@if (competition){
  <div class="w-full max-w-4xl min-w-[40vw] mx-auto rounded-lg border border-gray-300 bx-white p-4 sm:p-6 shadow-sm">
    <h2 class="text-lg font-semibold text-gray-900">{{ competition.name }}</h2>
    @if (showEditImage) {
      <button class="ml-2 inline-flex items-center rounded bg-gray-500 px-3 py-1 text-sm text-white hover:bg-gray-600 transition-all cursor-pointer" (click)="handleBtnEditCompetition()">
        📝 Bearbeiten
      </button>
      <button [routerLink]="['/changes', competition.id]" class="ml-2 inline-flex items-center rounded bg-gray-500 px-3 py-1 text-sm text-white hover:bg-gray-600 transition-all cursor-pointer">
        🗂️ Versionen
      </button>
    }
    <p class="italic text-sm text-gray-600 mb-4">erstellt von: {{ competition.created_by }}</p>

    <span [innerHTML]="competition.link | linkify"></span>

    <div class="mt-4 space-y-1 text-sm text-gray-800">
      <p><span class="font-semibold">Schuljahr:</span> {{ competition.school_year | formatSchoolYear}}</p>
      <p><span class="font-semibold">Einreichfrist:</span> {{competition.deadline}}</p>

      <p><span class="font-semibold">Preis:</span><br>
        {{ competition.prize }}
      </p>
      <p><span class="font-semibold">Broschüren, Infomaterial:</span><br>
        <span [innerHTML]="competition.information_material | linkify"></span>
      </p>
      <p><span class="font-semibold">Einreichformulare:</span><br>
        <span [innerHTML]="competition.submission_forms | linkify"></span>
      </p>
      <p><span class="font-semibold">Kontakt für Fragen:</span><br>
        <span [innerHTML]="competition.contact | linkify"></span>
      </p>
    </div>
    <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
      @for (image of images; track image.id; let index = $index) {
        <figure class="overflow-hidden rounded-lg bg-gray-100 transform hover:scale-105 transition duration-200 cursor-pointer" (click)="openLightbox(index)">
          <img
            src="{{image.url}}"
            alt="{{image.name}}"
            class="object-cover w-full aspect-video"
          />
          <figcaption class="mt-2 p-2 text-center text-sm text-gray-700">{{image.name}}</figcaption>
        </figure>
      }
    </div>
    @if (isLightboxOpen) {
      <div class="fixed inset-0 flex items-center justify-center z-52">
        <div class="relative w-[90vw] h-[90vh] max-w-5xl">
          <button class="absolute top-2 right-2 text-white text-2xl bg-black bg-opacity-50 hover:bg-opacity-70 p-2 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-white transition" (click)="closeLightbox()">
            ✕</button>

          <button class="absolute top-1/2 left-2 transform -translate-y-1/2 text-white text-5xl bg-black bg-opacity-50 hover:bg-opacity-70 p-3 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-white transition" (click)="prevImage()">
            ‹</button>

          <img src="{{images[currentImageIndex].url}}" [alt]="images[currentImageIndex].name" class="w-full h-full object-contain"/>

          <button class="absolute top-1/2 right-2 transform -translate-y-1/2 text-white text-5xl bg-black bg-opacity-50 hover:bg-opacity-70 p-3 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-white transition" (click)="nextImage()">
            ›</button>

          <p class="mt-2 text-center text-white">{{ images[currentImageIndex].name }}</p>
        </div>
      </div>
    }
  </div>
}
@if (isModalOpen) {
  <app-edit-competition [competition]="competition" (closeModal)="isModalOpen = false"></app-edit-competition>
}
