<div class="w-full max-w-4xl min-w-[30vw] mx-auto rounded-lg border border-gray-300 bg-white p-4 sm:p-6 shadow-sm">
  <h2 class="text-lg font-semibold text-gray-900">{{ submission.name }}</h2>
  <p class="italic text-sm text-gray-600 mb-4">letztes Update: {{ submission.last_update }}</p>

  @if (submission.projects.length > 0) {
    <div class="overflow-x-auto">
    <table class="min-w-full table-auto border border-gray-300 mt-4">
      <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700 w-50">Name</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700 w-30">Status</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700 w-40">Nächster Schritt</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700 w-50">Mitwirkende</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700 w-32">Erstellt am</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      @for (project of submission.projects; track project.name) {
        <tr class="border-t">
          <td class="px-4 py-2 text-sm text-gray-900 w-50">{{ project.name }}</td>
          <td class="px-4 py-2 text-sm text-gray-900 w-30">{{ project.status }}</td>
          <td class="px-4 py-2 text-sm text-gray-900 w-40">{{ project.next_step }}</td>
          <td class="px-4 py-2 text-sm text-gray-900 w-50">{{ project.contributors }}</td>
          <td class="px-4 py-2 text-sm text-gray-900 w-32">{{ project.date_created | date}}</td>
          @if (showEditImage) {
            <td><button (click)="handleBtnEditProject(project)" >📝</button></td>
          }
        </tr>

      }
      </tbody>
    </table>
    </div>
  } @else {
    <p class="mt-4 text-sm text-gray-700 italic bg-yellow-50 border border-yellow-200 rounded-md p-4">
      Hier gibt es noch keine Projekte – vielleicht möchtest du den Anfang machen?
    </p>
  }
</div>

@if (selectedProjectForEdit) {
  <app-edit-project [project]="selectedProjectForEdit" (closeModal)="closeEditModal()"></app-edit-project>
}
