<nav class="bg-gray-800" (click)="closeLogoutIfOpened()">
  <div class="mx-auto max-w-7xl px-2 md:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center [@media(min-width:1250px)]:hidden">
        <button type="button" (click)="toggleMobileMenu()"
                class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-none focus:ring-inset">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          @if (!isMobileMenuOpen) {
            <svg class="size-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                 aria-hidden="true">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>
          }
          @if (isMobileMenuOpen) {
            <svg class="size-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                 aria-hidden="true">
              <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          }
        </button>
      </div>

      <div class="flex flex-1 items-center justify-center [@media(min-width:769px)]:items-stretch [@media(min-width:1250px)]:justify-start">
        <div class="flex shrink-0 items-center">
          <img class="h-8 w-auto" src="../htllogo_2022_small.png" alt="HTL Logo"/>
        </div>
        <div class="hidden [@media(min-width:1250px)]:block ml-6">
          <div class="flex space-x-4">
            <a routerLink=""
               routerLinkActive="bg-gray-900 text-white"
               [routerLinkActiveOptions]="{exact: true}"
               class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Dashboard</a>

            <a routerLink="/competitions"
               routerLinkActive="bg-gray-900 text-white"
               class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Wettbewerbsliste</a>

            <a routerLink="/current-competitions"
               routerLinkActive="bg-gray-900 text-white"
               class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Aktuelle Wettbewerbe</a>

            <a routerLink="/submissions"
               routerLinkActive="bg-gray-900 text-white"
               class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Einreichungen</a>

            @if (isUserAdmin) {
              <a routerLink="/add-competition"
                 routerLinkActive="bg-gray-900 text-white"
                 class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Wettbewerb hinzufügen</a>
              <a routerLink="/add-project"
                 routerLinkActive="bg-gray-900 text-white"
                 class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projekt hinzufügen</a>
              <a routerLink="/export"
                 routerLinkActive="bg-gray-900 text-white"
                 class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Exportieren</a>
            }
          </div>
        </div>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 [@media(min-width:1250px)]:static [@media(min-width:1250px)]:inset-auto [@media(min-width:1250px)]:ml-6 [@media(min-width:1250px)]:pr-0">
        <div class="relative ml-3">
          <button type="button" (click)="toggleProfileDropdown(); $event.stopPropagation()"
                  class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"> <!-- $event.stopPropagation stoppt das 'bubblen' von den click elements nach oben im DOM Baum, sodas closeLogoutIfOpened() nicht ausgeführt wird -->
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <div class="size-8 rounded-full flex items-center justify-center bg-gray-600 text-white font-bold text-sm">
              {{ userInitials?.toUpperCase() }}
            </div>
          </button>

          @if (isProfileOpen) {
            <div
              class="absolute right-0 z-10 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 transition transform scale-100 opacity-100" (click)="$event.stopPropagation()"
              role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button">
              <a (click)="logout()"
                 class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer"
                 role="menuitem">Sign out</a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>

  @if (isMobileMenuOpen) {
    <div class="block [@media(min-width:1250px)]:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <a routerLink=""
           routerLinkActive="bg-gray-900 text-white"
           [routerLinkActiveOptions]="{exact: true}"
           class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Dashboard</a>
        <a routerLink="/competitions"
           routerLinkActive="bg-gray-900 text-white"
           class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Wettbewerbsliste</a>
        <a routerLink="/current-competitions"
           routerLinkActive="bg-gray-900 text-white"
           class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Aktuelle Wettbewerbe</a>
        <a routerLink="/submissions"
           routerLinkActive="bg-gray-900 text-white"
           class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Einreichungen</a>
        @if (isUserAdmin) {
          <a routerLink="/add-competition"
             routerLinkActive="bg-gray-900 text-white"
             class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Wettbewerb hinzufügen</a>
          <a routerLink="/add-project"
             routerLinkActive="bg-gray-900 text-white"
             class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projekt hinzufügen</a>
          <a routerLink="/export"
             routerLinkActive="bg-gray-900 text-white"
             class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Exportieren</a>
        }
      </div>
    </div>
  }
</nav>
