<div class="border border-gray-200 bg-white p-4 rounded-lg shadow-md mt-6">
  <div class="flex space-x-4 justify-center">
    <button (click)="generatePowerPoint()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-all">
      Download PowerPoint
    </button>
    <button (click)="generateExcel()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-all">
      Download Excel
    </button>
    <button (click)="generateDocx()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-all">
      Download Word
    </button>
    <button disabled class="bg-blue-400 text-white font-bold py-2 px-4 rounded">
      Für PDF-Export zur Wettbewerbsliste wechseln
    </button>
    <!--
    <button (click)="generatePptxAsPdf()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-all">
      Download PowerPoint als PDF
    </button>
    -->
  </div>
</div>
