<header class="bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ competitionName }}</h1>
  </div>
</header>
<div class="overflow-x-auto mt-4 w-full max-w-6xl min-w-[30vw] mx-auto px-4">
  @if (changes.length > 0) {
  <table class="min-w-full table-auto border border-gray-100 mt-4">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Datum</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Verändert von</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Attribute</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Alter Wert</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Neuer Wert</th>
      </tr>
    </thead>
    <tbody>
      @for (change of changes; track change) {
        <tr class="border-t border-gray-200">
          <td class="px-4 py-2 text-sm text-gray-900">{{ change.date}}</td>
          <td class="px-4 py-2 text-sm text-gray-900">{{ change.changed_by }}</td>
          <td class="px-4 py-2 text-sm text-gray-900">{{ change.attribute }}</td>
          <td class="px-4 py-2 text-sm text-gray-900">{{ change.old_value }}</td>
          <td class="px-4 py-2 text-sm text-gray-900">{{ change.new_value }}</td>
        </tr>
      }
    </tbody>
  </table>
  } @else {
    <p class="mt-4 text-sm text-gray-700 italic bg-yellow-50 border border-yellow-200 rounded-md p-4">
      Hier hat noch niemand etwas verändert!
    </p>
  }
</div>
